<section id="expense_stats" class="stat_container">
  <div id="receipt_total" class="stat_box">
    <p>Total</p>
    <p id="spending_total" class="sum"><%= number_to_currency @receipts.sum(:total) %></p>
  </div>
  <div id="unexpensed_receipt_total" class="stat_box">
      <p><%= link_to "Unexpensed(#{@receipts.unexpensed.count})", dashboard_unexpensed_path %></p>
      <p id="unexpensed_total" class="sum"><%= number_to_currency @receipts.unexpensed.sum(:total) %></p>
  </div>
  <div id="expensed_receipt_total" class="stat_box">
    <p>Expensed</p>
    <p id="expensed_total" class="sum"><%= number_to_currency @receipts.expensed.sum(:total) %></p>
  </div>
</section>

<div class="clearer"></div>

<div id="add_receipt">
  <%= link_to 'New Receipt', new_receipt_path, :id => 'create_receipt_link' %>

  <div id="receipt_form" style="display:none">
    <%= render 'receipts/form' %>
  </div>
</div>
<section id="recent_receipts">
  <h3 class="center">Recent Receipts</h3>
  <br />
  <%= render :partial => 'receipts/receipt_table',
             :locals => { :receipts => @receipts.recent,
                          :expensable => true,
                          :expensed => true } %>
</section>
<br /><br />
<section id="recent_expense_reports">
  <h3 class="center">Recent Expense Reports</h3><br /><br />
  <table id="recent_expense_reports" class="summary_table">
      <th>Date</th>
      <th>Identifier</th>
      <th>Receipts</th>
      <th>Total</th>
      <%= render :partial => 'expense_report/report', :collection => @reports %>
  </table>
</section>
