
<p class="right"><%= text_field_tag "external_report_id", nil, :placeholder => "Expense Report ID" %>
<%= submit_tag "Create Expense Report" %></p><br />

<%= form_tag expense_report_create_path do %>
  <table id="recent_receipts" class="center_object">
    <thead>
      <th><%= check_box_tag "select_all" %></th>
      <th>Purchase Date</th>
      <th>Store</th>
      <th>Total</th>
    </thead>
    <tbody>
  <% @receipts.each do |receipt| %>
    <tr>
      <td><%= check_box_tag "receipt_ids[]", receipt.id %></td>
      <td><%= receipt.purchase_date.to_s(:short) %></td>
      <td><%= receipt.store.name %></td>
      <td class="right"><%= link_to number_to_currency(receipt.total), receipt %></td>
    </tr>
  <% end %>
  </tbody>
  </table>
<% end %>
