= form_for(@store) do |f|
  .field
    = f.label :name
    %br/
    = f.text_field :name, :disabled => true
  .field
    = f.label :expense_category
    %br/
    - unless @store.expense_categories.where(:user == current_user).empty?
      - @store.expense_categories.where(:user == current_user).each do |category|
        %ul
          %li= category.name
    = "Add another expense category"
    %br/
    = select :store, :expense_categories, ExpenseCategory::CATEGORIES, {:include_blank => true}
  .actions.clearer
    = f.submit