= form_for(@store) do |f|
  .field
    = f.label :name
    %br/
    = f.text_field :name, :disabled => true
  .field
    = f.label :expense_category
    %br/
    - unless @expense_categories.nil?
      - @expense_categories.each do |category|
        %p= category.name
    = "Add another expense category"
    %br/
    = select :store, :expense_categories, ExpenseCategory::CATEGORIES, {:include_blank => true}
  .actions.clearer
    = f.submit