<tr>
  <td><%= report.created_at.to_date.to_s(:short) %></td>
  <% if report.external_report_id %>
    <td class="center"><%= link_to report.external_report_id, report %></td>
  <% else %>
    <td class="center"><%= link_to report.id, report %>
  <% end %>
  <td class="center"><%= report.receipt_count %></td>
  <td class="right"><%= number_to_currency report.receipt_sum %></td>
</tr>