<% if @receipt.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@receipt.errors.count, "error") %> prohibited this receipt from being saved:</h2>

    <ul>
    <% @receipt.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<%= form_for(@receipt, :html => {:multipart => true}) do |f| %>
  <div id="receipt_fields">
    <div id="receipt_fields_core">
      <div class="field">
        <%= f.label :store_name %><br />
        <%= f.text_field :store_name, :placeholder => 'Store Name' %>
      </div>
      <div class="field">
        <%= f.label :purchase_date %><br />
        <%= f.text_field :purchase_date, :placeholder => 'Purchased On', :size => 11 %>
      </div>
      <div class="field">
        <%= f.label :total %><br />
        <%= f.number_field :total, :placeholder => 'Total', :size => 10 %>
      </div>
    </div>
    <div id="receipt_fields_metadata"><br />
      <div class="field">
        <%= f.label :expensable, 'Expensable?' %>
        <%= f.check_box :expensable %>
        <%= f.label :expensed, 'Expensed?' %>
        <%= f.check_box :expensed %>
      </div>
      <div class="field">
        <%= f.label :guests %><br />
        <% unless current_user.participants.empty? %>
          <% current_user.participants.each do |participant| %>
            <% names = @receipt.participants.collect{ |n| n.name }%>
            <%= check_box_tag "old_participants[]", participant.name, names.include?(participant.name) %> <%= participant.name %><br />
          <% end %>
        <% end %>
        <%= text_field_tag :participant_names, nil, :placeholder => 'Art Vandelay, SG Hill' %>
      </div>
      <div class="field">
        <%= f.label :note %><br />
        <%= f.text_field :note, :placeholder => 'breakfast, cell phone' %>
      </div>
    </div>
    <div class="actions clearer">
     <%= f.submit %>
    </div>
  </div>
<% end %>
