<% if @receipt.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@receipt.errors.count, "error") %> prohibited this receipt from being saved:</h2>

    <ul>
    <% @receipt.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<%= form_for(@receipt, :html => {:multipart => true}) do |f| %>
  <div id="receipt_fields">
    <div id="receipt_fields_core">
      <div class="field">
        <%= f.label :store_name %><br />
        <%= f.text_field :store_name, :placeholder => 'Store Name' %>
      </div>
      <div class="field">
        <%= f.label :purchase_date %><br />
        <%= f.text_field :purchase_date, :placeholder => 'Purchased On' %>
      </div>
      <div class="field">
        <%= f.label :total %><br />
        <%= f.number_field :total, :placeholder => 'Total', :size => 10 %>
      </div>
    </div>
    <div id="receipt_fields_metadata">
      <div class="field">
        <%= f.label :expensable, 'Expensable?' %>
        <%= f.check_box :expensable %>
        <%= f.label :expensed, 'Expensed?' %>
        <%= f.check_box :expensed %>
      </div>
      <div class="field">
        <%= f.label :participant_names %>
        <%= text_field_tag :participant_names %>
      </div>
      <div class="field">
        <%= f.label :receipt_image %>
        <%= f.file_field :receipt_image %>
      </div>
    </div>
    <div class="actions clearer">
     <%= f.submit %>
    </div>
  </div>
<% end %>
