<tr>
  <td><%= receipt.store.name %></td>
  <td><%= receipt.purchase_date %></td>
  <td><%= receipt.total %></td>
  <td><%= link_to 'Show', receipt %></td>
  <td><%= link_to 'Edit', edit_receipt_path(receipt) %></td>
  <td><%= link_to 'Destroy', receipt, :confirm => 'Are you sure?', :method => :delete %></td>
</tr>