<tr>
  <td><%= receipt.purchase_date.to_date.to_s(:short) %></td>
  <td><%= receipt.store.name %></td>
  <td class="right"><%= link_to number_to_currency(receipt.total), receipt %></td>
  <td class="center"><%= boolean_to_check receipt.expensable? %></td>
  <td class="center"><%= boolean_to_check receipt.expensed? %></td>
</tr>
