<p>
  <b>Store:</b>
  <%= @receipt.store.name %>
</p>

<p>
  <b>Purchase date:</b>
  <%= @receipt.purchase_date %>
</p>

<p>
  <b>Total:</b>
  <%= @receipt.total %>
</p>
<br />
<p><%= @receipt.expensable? ? "" : "Not" %> Expensable</p>
<p><%= @receipt.expensed? ? "" : "Not" %> Expensed</p>
<% if @receipt.participants.size > 0 %>
  <br />
  <p><strong>Guest Appearances</strong>:</p>
  
  <% @receipt.participants.each do |p| %>
    <p><%= p.name %></p>
  <% end %>
<% end %>

<% unless @receipt.note.nil? %>
  <br />
  <p><strong>Note</strong></p>
  <p><%= @receipt.note %></p>
<% end %>

<%= link_to 'Edit', edit_receipt_path(@receipt) %> |
<%= link_to 'Back', receipts_path %>
