<!DOCTYPE html>
<html>
<head>
  <title>ExpenseLynx</title>
  <%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/themes/black-tie/jquery-ui.css", "default" %>
  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js", "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js", "application" %>
  <%= csrf_meta_tag %>
</head>
<body>
<div id="outer_container">
  <div id="user_bar">
    <h1 id="logo"><%= link_to 'ExpenseLynx', root_path %></h1>
    <p id="links">
      <%= link_to 'Unexpensed Receipts', dashboard_unexpensed_path %> ::
      <%= link_to 'Sign Out', destroy_user_session_path %>
    </p>
  </div>
  <div id="content_container">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    
    <%= yield %>
  </div>
</div>
</body>
</html>
