<!DOCTYPE html>
<html>
<head>
  <title>ExpenseLynx</title>
  <%= stylesheet_link_tag "jquery-ui-1.8.6", "default" %>
  <%= javascript_include_tag "jquery-1.4.1.min", "jquery-ui-1.8.6.min", "application" %>
  <%= csrf_meta_tag %>
</head>
<body>
<div id="outer_container">
  <div id="user_bar">
    <h1 id="logo"><%= link_to 'ExpenseLynx', root_path %></h1>
    <p id="links">
      <%= link_to 'Unexpensed Receipts', dashboard_unexpensed_path %> ::
      <%= link_to 'Sign Out', destroy_user_session_path %>
    </p>
  </div>
  <div id="content_container">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    
    <%= yield %>
  </div>
</div>
</body>
</html>
